.idea/

# Ignore build and dependency directories
target/
node_modules/
uploads/

# Ignore environment and secret files
.env
#application.yml
#application.propertiestarget/
node_modules/
.idea/
*.log
*.jar
.DS_Store
